#displayTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top:10px;
    width:90%;
    margin-left: auto;
    margin-right: auto
  }
  
  #displayTable td, #displayTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #displayTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #displayTable tr:hover {background-color: #ddd;}
  
  #displayTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .output{

    background: #4CAF50;
    color: white;
  }
  .headerStyle {
  
    background-color: #4CAF50;
    height: 60px;
    color: white;
    font-size: 25px;
    padding-left: 10px;
  }
  
  .selectStyle{
    float: left;
    width: 24%;
    height: 50%;
    margin: 10px;
    border: 2px solid green;
  }